{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
{% include 'include/mobile_header.html' %}
<div class="">
    <div class="fullwidth-template">
        <div class="home-slider fullwidth rows-space-60">
            <div class="slider-owl owl-slick equal-container nav-center equal-container"
                 data-slick='{"autoplay":true, "autoplaySpeed":10000, "arrows":true, "dots":true, "infinite":true, "speed":800, "rows":1}'
                 data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1}}]'>
                {% for slider in slider %}
                <div class="slider-item style5">
                    <div class="slider-inner equal-element" style="background-image: url('{{slider.image.url}}');">
                        <div class="container">
                            <div class="slider-infor">
                                <h5 class="title-small">
                                    {{slider.main_title}}
                                </h5>
                                <h3 class="title-big">
                                    {{slider.title}}
                                </h3>
                                <div class="when-code">
                                    Новая цена:
                                    <span class="number-code">
                                        {{slider.price}} сом
                                    </span>
                                </div>
                                <a href="{% url 'product_index' %}" class="button btn-view-promotion bgroud-style">Магазин</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="banner-wrapp rows-space-35">
            <div class="container">
                <div class="row">
                    {% for category in category %}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="banner">
                            <div class="item-banner style12" >
                                <div class="inner"  style="background-image: url('{{category.image.url}}');">
                                    <div class="banner-content">
                                        <h3 class="title">{{category.title}}</h3>
                                        <div class="description">
                                            {{category.description}}
                                        </div>
                                        <a href="{{category.link}}" class="button btn-shop-now">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="ysera-tabs default rows-space-40">
            <div class="container">
                <h3 class="custommenu-title-blog">
                    Новые поступления
                </h3>
                <div class="tab-head">
                    <ul class="tab-link">
                        <li class="active">
                            <a data-toggle="tab" href="#all">все</a>
                        </li>
                        {% for category in categories %}
                        <li>
                            <a data-toggle="tab" href="#{{ category.id }}">{{ category.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-container">
                    <div id="all" class="tab-panel active">
                        <div class="ysera-product">
                            <ul class="row list-products auto-clear equal-container product-grid">
                                {% for product in products %}
                                <li class="product-item col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">
                                    <div class="product-inner equal-element">
                                        <div class="product-top">
                                            {% if product.id in new_products_indices %}
                                            <div class="flash">
                                                <span class="onnew">
                                                    <span class="text">new</span>
                                                </span>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="product-thumb">
                                            <div class="thumb-inner">
                                                <a href="{% url 'product_detail' product.id %}">
                                                    <img src="{{ product.image.url }}" alt="img">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name product_title">
                                                <a href="{% url 'product_detail' product.id %}">{{ product.title }}</a>
                                            </h5>
                                            <div class="group-info">
                                                <div class="price">
                                                    {% if product.old_price %}
                                                    <del>{{ product.old_price }} сом</del>
                                                    {% endif %}
                                                    {% if product.price %}
                                                    <ins>{{ product.price }} сом</ins>
                                                    {% endif %} 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% for category in categories %}
                    <div id="{{ category.id }}" class="tab-panel">
                        <div class="ysera-product">
                            <ul class="row list-products auto-clear equal-container product-grid">
                                {% for product in products %}
                                {% if product.category == category %}
                                <li class="product-item col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">
                                    <div class="product-inner equal-element">
                                        <div class="product-top">
                                            {% if product.id in new_products_indices %}
                                            <div class="flash">
                                                <span class="onnew">
                                                    <span class="text">new</span>
                                                </span>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="product-thumb">
                                            <div class="thumb-inner">
                                                <a href="{% url 'product_detail' product.id %}">
                                                    <img src="{{ product.image.url }}" alt="img">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name product_title">
                                                <a href="{% url 'product_detail' product.id %}">{{ product.title }}</a>
                                            </h5>
                                            <div class="group-info">
                                                <div class="price">
                                                    {% if product.old_price %}
                                                    <del>{{ product.old_price }} сом</del>
                                                    {% endif %}
                                                    {% if product.price %}
                                                    <ins>{{ product.price }} сом</ins>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="ysera-testimonials-newsletter-wrapp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="banner">
                            <div class="item-banner style11">
                                <div class="inner" style="background-image: url('{% static 'assets/images/Group 50.png' %}');">
                                    <div class="banner-content">
                                        <h4 class="ysera-subtitle">График работы</h4>
                                        <div class="description">
                                            {{setting.schedule}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <div class="ysera-testimonials-wrapp">
                            <div class="ysera-testimonials default">
                                <div class="owl-slick equal-container"
                                     data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":true, "speed":800}'
                                     data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1}}]'>
                                     {% for review in all_review %}
                                    <div class="testimonial-item">
                                        <div class="image">
                                            <img src="{{review.image.url}}" alt="img">
                                        </div>
                                        <div class="info"> 
                                            <h5 class="name">
                                                {{review.name}}
                                                <span>{{review.position}}</span>
                                            </h5>
                                            <div class="text">
                                                <p>
                                                   {{review.comment }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% include 'include/footer.html' %}
{% include 'include/mobile_footer.html' %}
{% endblock %}