{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
{% include 'include/mobile_header.html' %}
<div class="">
    <div class="fullwidth-template">
        <div class="home-slider fullwidth rows-space-60">
            <div class="slider-owl owl-slick equal-container nav-center equal-container"
                 data-slick='{"autoplay":true, "autoplaySpeed":10000, "arrows":true, "dots":true, "infinite":true, "speed":800, "rows":1}'
                 data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1}}]'>
                {% for slider in slider %}
                <div class="slider-item style5">
                    <div class="slider-inner equal-element" style="background-image: url('{{slider.image.url}}');">
                        <div class="container">
                            <div class="slider-infor">
                                <h5 class="title-small">
                                    {{slider.main_title}}
                                </h5>
                                <h3 class="title-big">
                                    {{slider.title}}
                                </h3>
                                <div class="when-code">
                                    Новая цена:
                                    <span class="number-code">
                                        {{slider.price}} сом
                                    </span>
                                </div>
                                <a href="{% url 'product_index' %}" class="button btn-view-promotion bgroud-style">Магазин</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
            <div class="ysera-product produc-featured rows-space-40">
            <div class="container">
                <h3 class="custommenu-title-blog">
                    Новые поступления
                </h3>
                <ul class="row list-products auto-clear equal-container product-grid">
                    {% for product in product_new %}
                    <li class="product-item  col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">
                        <div class="product-inner equal-element">
                            <div class="product-top">
                                <div class="flash">
													<span class="onnew">
														<span class="text">
															new
														</span>
													</span>
                                </div>
                            </div>
                            <div class="product-thumb">
                                <div class="thumb-inner">
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img src="{{product.image.url}}" alt="img">
                                    </a>
                                    <div class="thumb-group">
                                        <div class="loop-form-add-to-cart">
                                            <a href="{% url 'add_to_cart' product.id %}" class="single_add_to_cart_button button">В корзину
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <h5 class="product-name product_title">
                                    <a href="{% url 'product_detail' product.id %}">{{product.title}}</a>
                                </h5>
                                <div class="group-info">
                                    <div class="price">
                                        {% if product.old_price %}
                                        <del>
                                            {{product.old_price}} сом
                                        </del>
                                        {% endif %}
                                        {% if product.price %}
                                        <ins>
                                            {{product.price}} сом
                                        </ins>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="ysera-testimonials-newsletter-wrapp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="ysera-testimonials-wrapp">
                            <div class="ysera-testimonials default">
                                <div class="owl-slick equal-container"
                                     data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":true, "speed":800}'
                                     data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1}}]'>
                                     {% for review in all_review %}
                                    <div class="testimonial-item">
                                        <div class="image">
                                            <img src="{{review.image.url}}" alt="img">
                                        </div>
                                        <div class="info">
                                            <h5 class="name">
                                                {{review.name}}
                                                <span>{{review.position}}</span>
                                            </h5>
                                            <div class="text">
                                                <p>
                                                   {{review.comment }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .ysera-testimonials-newsletter-wrapp {
                margin-left: 250px;
            }

        </style>
    </div>
</div>
{% include 'include/footer.html' %}
{% include 'include/mobile_footer.html' %}
{% endblock %}