{% load static %}
<footer class="footer style7">
    <div class="container">
        <div class="container-wapper">
            <div class="row">
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg">
                    <div class="ysera-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title">
                                Новостная рассылка</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <input type="email" class="input-text email email-newsletter"
                                   placeholder="Your email letter">
                            <button class="button btn-submit submit-newsletter">Подписаться</button>
                        </div>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="ysera-custommenu default">
                        <h2 class="widgettitle">Быстрые ссылки</h2>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="{% url 'index' %}">Главная</a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'product_index' %}">Магазин</a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'contact' %}">Контакты</a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'checkout' %}">Заказать</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
                    <div class="ysera-newsletter style1">
                        <div class="newsletter-head">
                            <h3 class="title">Новостная рассылка</h3>
                        </div>
                        <div class="newsletter-form-wrap">
                            <form method="POST">
                                {% csrf_token %}
                                <input type="email" name="email" class="input-text email email-newsletter" placeholder="Введите вашу почту" required>
                                <button type="submit" name="email_send" class="button btn-submit submit-newsletter">Подписаться</button>
                            </form>
                        </div>
                        <!-- <div id="successModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>Вы успешно подписались!</p>
                            </div>
                        </div> -->
                        <!-- <style>/* Модальное окно */
                            .modal {
                                display: none; /* Скрыто по умолчанию */
                                position: fixed;
                                z-index: 1000;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                overflow: auto;
                                background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
                            }
                            
                            /* Контент модального окна */
                            .modal-content {
                                background-color: #fefefe;
                                margin: 15% auto;
                                padding: 20px;
                                border: 1px solid #e3cdad;
                                width: 80%;
                                max-width: 500px;
                            }
                            
                            .close {
                                color: #aaa;
                                float: right;
                                font-size: 28px;
                                font-weight: bold;
                            }
                            
                            .close:hover,
                            .close:focus {
                                color: black;
                                text-decoration: none;
                                cursor: pointer;
                            }
                        </style>    
                        <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const modal = document.getElementById("successModal");
                            // const span = document.getElementsByClassName("close")[0];
                            const span = document.querySelector("#successModal .close");
                        
                            // Показать модальное окно после успешной подписки
                            document.querySelector(".newsletter-form-wrap form").addEventListener("submit", function(event) {
                                event.preventDefault(); // Предотвращаем отправку формы для демонстрации
                        
                                // Добавьте сюда ваш AJAX-запрос для отправки формы, если нужно
                        
                                // Показываем модальное окно
                                modal.style.display = "block";
                        
                                // Очистка поля после отправки
                                this.reset();
                            });
                        
                            // Закрытие модального окна при клике на (x)
                            span.onclick = function() {
                                console.log("Клик по крестику");
                                modal.style.display = "none";
                            };

                        
                            // Закрытие модального окна при клике вне его области
                            window.onclick = function(event) {
                                if (event.target == modal) {
                                    modal.style.display = "none";
                                }
                            };
                        });
                        </script>               -->
                    </div>
                </div>
                <div class="box-footer col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="ysera-custommenu default">
                        <a href="{% url 'index' %}">
                            <img src="{{setting.logo.url}}" alt="" style="width: 300px;" height="300px">
                        </a>
                        <p>{{setting.description}}</p>
                    </div>
                </div>
                <style>
                    .box-footer {
                        display: flex;
                        align-items: center; 
                    }
                    
                    .ysera-custommenu {
                        display: flex;
                        flex-direction: column;
                        justify-content: center; 
                        text-align: left; 
                    }
                    
                    .ysera-custommenu img {
                        align-self: flex-start; 
                    }
                    
                    .ysera-custommenu p {
                        text-align: left; 
                        margin-top: 10px; 
                        margin-left: 50px;
                    }
                
                </style>
            </div>
            <div class="footer-end">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="ysera-socials">
                            <ul class="socials">
                                <li>
                                    {% if setting.whatsapp %}
                                        <a href="{{setting.whatsapp}}" class="social-item" target="_blank">
                                            <span class="icon fa fa-whatsapp"></span>
                                        </a>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if setting.instagram %}
                                        <a href="{{setting.instagram}}" class="social-item" target="_blank">
												<span class="icon fa fa-instagram">
													
												</span>
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="coppyright">
                            Copyright © 2020
                            <a href="#">MixStore</a>
                            . All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>