{% load static %}
<header class="header style2">
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-7 col-ts-12 header-element">
                    <div class="block-search-block">
                        <form class="form-search">
                            <div class="form-content">
                                <div class="inner">
                                    <input type="text" class="input" name="s" value="" placeholder="Поиск....">
                                    <button class="btn-search" type="submit">
                                        <span class="icon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-5 col-ts-12">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{{setting.logo.url}}" alt="logo">
                        </a>
                    </div>
                </div>
                <style>
                    .logo {
                        margin-top: -70px;
                    }

                </style>
                <div class="col-lg-4 col-sm-12 col-md-4 col-xs-12 col-ts-12">
                    <div class="header-control">
                        <div class="block-minicart ysera-mini-cart block-header ">
                            <a href="{% url 'cart' %}" class="shopcart-icon" >
                                Корзина
                                <span class="count">
									{{cart_items_count}}
								</span>
                            </a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-container">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                <div class="header-nav">
                    <div class="container-wapper">
                        <ul class="ysera-clone-mobile-menu ysera-nav main-menu " id="menu-main-menu">
                            <li class="menu-item  menu-item">
                                <a href="{% url 'index' %}" class="ysera-menu-item-title" title="Главная">Главная</a>
                            </li>
                            <li class="menu-item menu-item">
                                <a href="{% url 'product_index' %}" class="ysera-menu-item-title" title="Магазин">Магазин</a>
                            </li>
                            <li class="menu-item  menu-item">
                                <a href="{% url 'contact' %}" class="ysera-menu-item-title"
                                   title="Контакты">Контакты</a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'checkout' %}" class="ysera-menu-item-title" title="Заказать">Заказать</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>