{% load static %}
<header class="header style2">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-message">
                Добро пожаловать в наш магазин!
                </div>
            </div>
           
        </div>
    </div>
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-7 col-ts-12 header-element">
                    <div class="block-search-block">
                        <form class="form-search">
                            <div class="form-content">
                                <div class="inner">
                                    <input type="text" class="input" name="s" value="" placeholder="Поиск....">
                                    <button class="btn-search" type="submit">
                                        <span class="icon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-4 col-xs-5 col-ts-12">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                            <img src="{{setting.logo.url}}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-md-4 col-xs-12 col-ts-12">
                    <div class="header-control">
                        <div class="block-minicart ysera-mini-cart block-header ysera-dropdown">
                            <a href="javascript:void(0);" class="shopcart-icon" data-ysera="ysera-dropdown">
                                Корзина
                                <span class="count">
									0
									</span>
                            </a>
                            <div class="no-product ysera-submenu">
                                <p class="text">
                                    У вас есть
                                    <span>
											 0 товар(ов)
										</span>
                                </p>
                            </div>
                        </div>  
                        <a class="menu-bar mobile-navigation menu-toggle" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-container">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                <div class="header-nav">
                    <div class="container-wapper">
                        <ul class="ysera-clone-mobile-menu ysera-nav main-menu " id="menu-main-menu">
                            <li class="menu-item  menu-item">
                                <a href="{% url 'index' %}" class="ysera-menu-item-title" title="Home">Главная</a>
                            </li>
                            <li class="menu-item  menu-item item-megamenu">
                                <a href="#" class="ysera-menu-item-title" title="Pages">О нас</a>
                            </li>
                            <li class="menu-item menu-item">
                                <a href="{% url 'product_index' %}" class="ysera-menu-item-title" title="Shop">Магазин</a>
                            </li>
                            <li class="menu-item  menu-item">
                                <a href="inblog_right-siderbar.html" class="ysera-menu-item-title"
                                   title="Blogs">Контакты</a>
                            </li>
                            <li class="menu-item">
                                <a href="about.html" class="ysera-menu-item-title" title="About">Заказать</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>