{% load static %}
<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{{setting.mobile_logo.url}}" alt="img">
                </a>
            </div>
        </div>
        <style>
            .logo {
                margin-bottom: -20px; /* измените значение на необходимое */
            }
        </style>
        <div class="item item mobile-search-box has-sub">
            <a href="#">
                    <span class="icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="header-searchform-box">
                    <form class="header-searchform" action="{% url 'search' %}" method="get" id="searchForm">
                        <div class="searchform-wrap">
                            <input type="text" name="query" id="searchInput" class="search-input" placeholder="Поиск...">
                            <input type="submit" class="submit button" value="Искать">
                        </div>
                        <ul id="searchResults" style="display: none;"></ul>
                    </form>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script>
                            $(document).ready(function() {
                                $('#searchInput').on('input', function() {
                                    var query = $(this).val();
                                    if (query.length > 0) {
                                        $.ajax({
                                            url: '{% url "search" %}',
                                            data: {
                                                'query': query
                                            },
                                            dataType: 'json',
                                            success: function(data) {
                                                $('#searchResults').empty().show();
                                                if (data.results.length > 0) {
                                                    $.each(data.results, function(index, value) {
                                                        $('#searchResults').append('<li data-url="' + value.url + '">' + value.title + '</li>');
                                                    });
                                                } else {
                                                    $('#searchResults').append('<li>Ничего не найдено</li>');
                                                }
                                            }
                                        });
                                    } else {
                                        $('#searchResults').hide();
                                    }
                                });

                                // Перенаправление на страницу товара при клике на результат
                                $(document).on('click', '#searchResults li', function() {
                                    var url = $(this).data('url');
                                    window.location.href = url;
                                });

                                // Скрыть результаты поиска при клике вне формы
                                $(document).click(function(e) {
                                    if (!$(e.target).closest('.form-search').length) {
                                        $('#searchResults').hide();
                                    }
                                });
                            });

                        </script>
                        <style>
                            #searchResults {
                                list-style-type: none;
                                padding: 0;
                                margin: 0;
                                border: 1px solid #ccc;
                                background-color: #fff;
                                position: absolute;
                                width: 100%;
                                z-index: 1000;
                            }

                            #searchResults li {
                                padding: 8px;
                                cursor: pointer;
                            }

                            #searchResults li:hover {
                                background-color: #f0f0f0;
                            }

                        </style>
                </div>
            </div>
        </div>
        <div class="item menu-bar">
            <a class=" mobile-navigation menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>