{% load static %}
<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{{setting.mobile_logo.url}}" alt="img">
                </a>
            </div>
        </div>
        <style>
            .logo {
                margin-bottom: -20px; /* измените значение на необходимое */
            }
        </style>
        <div class="item item mobile-search-box has-sub">
            <a href="#">
                    <span class="icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="header-searchform-box">
                    <form class="header-searchform">
                        <div class="searchform-wrap">
                            <input type="text" class="search-input" placeholder="Поиск...">
                            <input type="submit" class="submit button" value="Искать">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="item menu-bar">
            <a class=" mobile-navigation menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>