{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
{% include 'include/mobile_header.html' %}
<div class="main-content main-content-details single no-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a href="{% url 'index' %}">Главная</a>
                        </li>
                        <li class="trail-item trail-end active">
                            {{product_detail.title}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-area content-details full-width col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="site-main">
                    <div class="details-product">
                        <div class="details-thumd">
                            <div class="image-preview-container image-thick-box image_preview_container">
                                <img id="img_zoom" data-zoom-image="{{product_detail.image.url}}"
                                     src="{{product_detail.image.url}}" alt="img">
                                <a href="#" class="btn-zoom open_qv"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-preview image-small product_preview">
                                <div id="thumbnails" class="thumbnails_carousel owl-carousel" data-nav="true"
                                     data-autoplay="false" data-dots="false" data-loop="false" data-margin="10"
                                     data-responsive='{"0":{"items":3},"480":{"items":3},"600":{"items":3},"1000":{"items":3}}'>
                                    <a href="#" data-image="{{product_detail.image.url}}"
                                       data-zoom-image="{{product_detail.image.url}}" class="active">
                                        <img src="{{product_detail.image.url}}"
                                             data-large-image="{{product_detail.image.url}}" alt="img">
                                    </a>
                                    {% for product in product_detail.product_image.all %}
                                    <a href="#" data-image="{{product.image.url}}"
                                       data-zoom-image="{{product.image.url}}">
                                        <img src="{{product.image.url}}"
                                             data-large-image="{{product.image.url}}" alt="img">
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="details-infor">
                            <h1 class="product-title">
                                {{product_detail.title}}
                            </h1>
                            {% if product_detail.status %}
                            <div class="availability">
                                Статус:
                                <a href="#">{{product_detail.status}}</a>
                            </div>
                            {% endif %}
                            <div class="price">
                                <span>{{product_detail.price}} сом</span>
                            </div>
                            <div class="product-details-description">
                                {% for product in product_detail.product_feature.all %}
                                <ul>
                                    <li>{{product.feature}}</li>
                                </ul>
                                {% endfor %}
                            </div>
                            <div class="variations">
                                <div class="attribute attribute_color">
                                    <div class="color-text text-attribute">
                                        Цвета:
                                    </div>
                                    <div class="list-color list-item">
                                        <p>{{product_detail.color}}</p>
                                    </div>
                                </div>
                                <div class="attribute attribute_size">
                                    <div class="size-text text-attribute">
                                        Размеры:
                                    </div>
                                    <div class="list-size list-item">
                                        <p class="">{{product_detail.size}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="group-button">
                                <div class="quantity-add-to-cart">
                                    <div class="quantity">
                                        <div class="control">
                                            <a class="btn-number qtyminus">-</a>
                                            <input type="text" data-step="1" data-min="0" value="1" title="Qty" class="input-qty qty" size="4">
                                            <a class="btn-number qtyplus">+</a>
                                        </div>
                                    </div>
                                    {% if product_detail.status != 'нет в наличии' %}
                                    <a href="#" id="add-to-cart-btn" class="single_add_to_cart_button button">В корзину</a>
                                    {% else %}
                                    <p class="out-of-stock-text">Товар временно недоступен</p>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <script>
                                document.addEventListener('DOMContentLoaded', function() {
                                    const qtyInput = document.querySelector('.input-qty.qty');
                                    const addToCartBtn = document.getElementById('add-to-cart-btn');

                                    function updateCartButton() {
                                        const quantity = qtyInput.value;
                                        const productId = '{{ product_detail.id }}';
                                        const newHref = `{% url 'add_to_cart' product_detail.id %}?quantity=${quantity}`;
                                        addToCartBtn.setAttribute('href', newHref);
                                    }

                                    document.querySelector('.qtyplus').addEventListener('click', function() {
                                        qtyInput.value = parseInt(qtyInput.value) + 1;
                                        updateCartButton();
                                    });

                                    document.querySelector('.qtyminus').addEventListener('click', function() {
                                        if (qtyInput.value > 1) {
                                            qtyInput.value = parseInt(qtyInput.value) - 1;
                                            updateCartButton();
                                        }
                                    });

                                    updateCartButton();
                                });

                            </script>

                        </div>
                    </div>
                    <div class="tab-details-product">
                        <ul class="tab-link">
                            <li class="">
                                <a data-toggle="tab" aria-expanded="true" style="font-size: 25px; color: #c09578;" href="#reviews">Отзывы</a>
                            </li>
                        </ul>
                        <div class="tab-container">
                            <!-- <div id="reviews" class="tab-panel"> -->
                                <div class="reviews-tab">
                                    <div class="comments">
                                        <h2 class="reviews-title">
                                            {{ reviews.count }} отзыв(ов) для <span>{{product_detail.title}}</span>
                                        </h2>
                                    
                                        <ol class="commentlist">
                                            {% for review in reviews|dictsortreversed:"created_at" %}
                                            <li class="comment-item" style="display: none;">
                                                <div class="conment-container">
                                                    <a href="#" class="avatar">
                                                        <img src="{% static 'assets/Group 44.png' %}" alt="img" style="border-radius: 50%; size: 10px;">
                                                    </a>
                                                    <div class="comment-text">
                                                        <p class="meta">
                                                            <strong class="author">{{ review.user.username }}</strong>
                                                            <span>-</span>
                                                            <span class="time">{{ review.created_at }}</span>
                                                        </p>
                                                        <div class="description">
                                                            <p>{{ review.text }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ol>
                                        
                                        <style>
                                            .comment-item {
                                                border: 1px solid #c09578; /* Цвет обводки */
                                                padding: 15px; /* Внутренние отступы */
                                                margin-bottom: 10px; /* Отступ снизу между комментариями */
                                                border-radius: 10px; /* Скругление углов */
                                                background-color: #ffffff; /* Цвет фона, опционально */
                                            }
                                            </style>
                                            
                                            <div style="display: flex; align-items: center; margin-top: 20px;">
                                                <button id="show-review-form" style="border-radius: 8px; background-color: #c09578; color: #fff; border: none; padding: 10px 20px; cursor: pointer;">
                                                    Добавить отзыв
                                                </button>
                                                {% if reviews.count > 0 %}
                                                <button id="toggle-comments" style="margin-left: 10px; background-color: #c09578; color: #fff; border: none; padding: 10px 20px; cursor: pointer; border-radius: 50px; margin-right: 10px;">
                                                    <i id="toggle-icon" class="fa fa-chevron-down"></i> <!-- Стрелка вниз -->
                                                </button>
                                                {% endif %}
                                            
                                            </div>
                                            
                                    </div>
                                    <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        const comments = document.querySelectorAll('.comment-item');
                                        const toggleButton = document.getElementById('toggle-comments');
                                        const toggleIcon = document.getElementById('toggle-icon');
                                        let visibleComments = 3;
                                        let isExpanded = false;

                                        // Проверяем, есть ли кнопка "toggle-comments"
                                        if (toggleButton) {
                                            // Показать последние 3 комментариев при загрузке
                                            function showComments(count) {
                                                comments.forEach((comment, index) => {
                                                    if (index < count) {
                                                        comment.style.display = 'block';
                                                    }
                                                });
                                            }

                                            showComments(visibleComments);

                                            // Обработчик для переключения комментариев
                                            toggleButton.addEventListener('click', function() {
                                                if (!isExpanded) {
                                                    visibleComments += 3; // Увеличить количество видимых комментариев на 3
                                                    showComments(visibleComments);

                                                    // Если все комментарии показаны, изменить состояние на "скрыть"
                                                    if (visibleComments >= comments.length) {
                                                        toggleIcon.classList.remove('fa-chevron-down');
                                                        toggleIcon.classList.add('fa-chevron-up');
                                                        isExpanded = true;
                                                    }
                                                } else {
                                                    visibleComments = 3; // Вернуться к отображению только последних 5 комментариев
                                                    comments.forEach((comment, index) => {
                                                        if (index >= visibleComments) {
                                                            comment.style.display = 'none';
                                                        }
                                                    });

                                                    // Вернуть состояние на "показать больше"
                                                    toggleIcon.classList.remove('fa-chevron-up');
                                                    toggleIcon.classList.add('fa-chevron-down');
                                                    isExpanded = false;
                                                }
                                            });
                                        } else {
                                            // Если отзывов 5 или меньше, показываем их сразу
                                            showComments(comments.length);
                                        }
                                    });


                                    </script> 
                                    <style>
                                    #show-more-comments, #hide-comments {
                                        background-color: #c09578;
                                        color: #fff;
                                        border: none;
                                        padding: 10px 20px;
                                        margin-top: 20px;
                                        cursor: pointer;
                                        border-radius: 8px;
                                    }
                                    
                                    #show-more-comments:hover, #hide-comments:hover {
                                        background-color: #a77a5f;
                                    }
                                    </style>                                  
                                    
                                    <div class="review_form_wrapper" id="review-form-container" style="display: none;">
                                        <div class="review_form">
                                            <div class="comment-respond">
                                                <form method="POST" class="comment-form-review">
                                                    {% csrf_token %}
                                                    <p class="comment-form-comment">
                                                        <label>
                                                            Ваш отзыв
                                                            <span class="required">*</span>
                                                        </label>
                                                        <textarea title="review" id="comment" name="text" cols="45" rows="8" style="border: 2px solid #c09578; border-radius: 10px;"></textarea>
                                                    </p>
                                                    <p class="comment-form-email">
                                                        <label>
                                                            Почта
                                                            <span class="">*</span>
                                                        </label>
                                                        <input title="email" id="email" name="email" type="email" value="" style="border: 2px solid #c09578; border-radius: 10px;">
                                                    </p>
                                                    <p class="form-submit">
                                                        <input name="submit" type="submit" id="submit" class="submit" value="Опубликовать" style="border-radius: 8px;">
                                                    </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        const showFormButton = document.getElementById('show-review-form');
                                        const reviewFormContainer = document.getElementById('review-form-container');
                                    
                                        showFormButton.addEventListener('click', function() {
                                            // Показать форму, если она скрыта, или скрыть, если она видна
                                            if (reviewFormContainer.style.display === 'none' || reviewFormContainer.style.display === '') {
                                                reviewFormContainer.style.display = 'block';
                                                showFormButton.style.display = 'none'; // Скрыть кнопку после показа формы
                                            } else {
                                                reviewFormContainer.style.display = 'none';
                                            }
                                        });
                                    });
                                    </script>                                    
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div style="clear: left;"></div>
                    <div class="related products product-grid">
                        <h2 class="product-grid-title">Вам также может понравится</h2>
                        <div class="owl-products owl-slick equal-container nav-center"  data-slick ='{"autoplay":false, "autoplaySpeed":1000, "arrows":true, "dots":false, "infinite":true, "speed":800, "rows":1}' data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":3}},{"breakpoint":"1200","settings":{"slidesToShow":2}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"480","settings":{"slidesToShow":1}}]'>
                            {% for product in random_products %}
                            <div class="product-item style-1">
                                <div class="product-inner equal-element">
                                    <div class="product-top">
										{% if product.id in new_products_indices %}
										<div class="flash">
											<span class="onnew">
												<span class="text">
													new
												</span>
											</span>
										</div>
										{% endif %}
									</div>
                                    <div class="product-thumb">
                                        <div class="thumb-inner">
                                            <a href="{% url 'product_detail' product.id %}">
                                                <img src="{{product.image.url}}" alt="img">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h5 class="product-name product_title">
                                            <a href="#">{{product.title}}</a>
                                        </h5>
                                        <div class="group-info">
                                            <div class="price">
                                                {% if product.old_price %}
                                                    <del>
                                                        {{product.old_price}} сом
                                                    </del>
                                                    {% endif %}
                                                    {% if product.price %}
                                                    <ins>
                                                        {{product.price}} сом
                                                    </ins>
                                                    {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'include/footer.html' %}
{% include 'include/mobile_footer.html' %}

{% endblock %}