{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
	{% include 'include/mobile_header.html' %}
	<div class="main-content main-content-product no-sidebar">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-trail breadcrumbs">
						<ul class="trail-items breadcrumb">
							<li class="trail-item trail-begin">
								<a href="{% url 'index' %}">Главная</a>
							</li>
							<li class="trail-item trail-end active">
								Товары
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="content-area shop-grid-content full-width col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="site-main">
						<style>
							.shop-top-control {
								position: relative;
								display: inline-block;
							}

							.dropdown {
								position: relative;
								display: inline-block;
							}

							.btn {
								background-color: #c09578;
								color: white;
								border: none;
								padding: 10px 20px;
								font-size: 14px;
								cursor: pointer;
								margin-left: 1000px;
								border-radius: 4px;
							}

							.btn:hover {
								background-color:#c09578;
							}

							.dropdown-menu {
								display: none;
								position: absolute;
								background-color: #fff;
								min-width: 160px;
								z-index: 1;
								margin-left: 1000px;
								border-radius: 4px;
							}

							.dropdown-menu a {
								color: #333;
								padding: 12px 16px;
								text-decoration: none;
								display: block;
							}

							.dropdown-menu a:hover {
								background-color: #f1f1f1;
							}

							.btn:focus + .dropdown-menu,
							.dropdown-menu:hover {
								display: block;
							}
						</style>
						<div class="shop-top-control">
							<span class="title"></span>
							<div class="dropdown">
								<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Категории
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="{% url 'product_index' %}">все</a>
									{% for category in categories %}
									<a class="dropdown-item" href="{% url 'product_list_by_category' category.id %}">{{ category.title }}</a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content-area shop-grid-content full-width col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="site-main">
						<h3 class="custom_blog_title">Товары</h3>
						<ul class="row list-products auto-clear equal-container product-grid" id="tab#">
							{% for product in products %}
							<li class="product-item product-type-variable col-lg-3 col-md-4 col-sm-6 col-xs-6 col-ts-12 style-1">
								<div style="border-radius: 10px;" class="product-inner equal-element">
									<div class="product-top">
										{% if product.id in new_products_indices %}
										<div class="flash">
											<span class="onnew">
												<span class="text">new</span>
											</span>
										</div>
										{% endif %}
									</div>
									<div class="product-thumb">
										<div class="thumb-inner">
											<a href="{% url 'product_detail' product.id %}">
												{% if product.image != "no_image.jpg" %}
                                                    <img style="border-radius: 10px;" src="{{ product.image.url }}">
                                                {% else %}
                                                    <img src="{% static 'assets/images/icon/default.png' %}" alt="Default Image">
                                                {% endif %}
											</a>
										</div>
									</div>
									<div class="product-info">
										<h5 class="product-name product_title">
											<a href="{% url 'product_detail' product.id %}">{{ product.title }}</a>
										</h5>
										<div class="group-info">
											<div class="price">
												{% if product.old_price %}
												<del>{{ product.old_price }} сом</del>
												{% endif %}
												{% if product.price %}
												<ins>{{ product.price }} сом</ins>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
						<div class="pagination clearfix style2">
							<div class="nav-link">
								{% if products.has_previous %}
								<a href="?page={{ products.previous_page_number }}" class="page-numbers"><i class="icon fa fa-angle-left" aria-hidden="true"></i></a>
								{% endif %}
								
								{% for num in products.paginator.page_range %}
								{% if products.number == num %}
								<span class="page-numbers current">{{ num }}</span>
								{% else %}
								<a href="?page={{ num }}" class="page-numbers">{{ num }}</a>
								{% endif %}
								{% endfor %}
								
								{% if products.has_next %}
								<a href="?page={{ products.next_page_number }}" class="page-numbers"><i class="icon fa fa-angle-right" aria-hidden="true"></i></a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'include/footer.html' %}
	{% include 'include/mobile_footer.html' %}

{% endblock %}