{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
{% include 'include/mobile_header.html' %}
<div class="main-content main-content-checkout">
    <div class="container">
            <div class="end-checkout-wrapp">
                <div class="end-checkout checkout-form">
                    <div class="icon">
                    </div>
                    <h3 class="title-checkend">
                        Поздравляем! Ваш заказ успешно завершен.
                    </h3>
                    <div class="sub-title">
                        Если у вас есть вопросы или вам нужна помощь, пожалуйста, свяжитесь с нашей службой поддержки по телефону или электронной почте.
                    </div>
                    <a href="{% url 'product_index' %}" class="button btn-return">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'include/footer.html' %}
{% include 'include/mobile_footer.html' %}

{% endblock %}