{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

	{% include 'include/header.html' %}
	{% include 'include/mobile_header.html' %}
	<div class="main-content main-content-login">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-trail breadcrumbs">
						<ul class="trail-items breadcrumb">
							<li class="trail-item trail-begin">
								<a href="{% url 'index' %}">Главная страница</a>
							</li>
							<li class="trail-item trail-end active">
								Новый пароль 
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="content-area col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="site-main">
						<h3 class="custom_blog_title">
							Новый пароль 
						</h3>
						<div class="customer_login">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-12">
										<div class="login-item">
											<form method="POST" class="login">
												{% csrf_token %}
												<p class="form-row form-row-wide">
													<label class="text">Введите вашу почту</label>
													<input title="email" name="email" type="email" class="input-text" required>
												</p>
												<p class="form-row">
													<input type="submit" name="send_code" class="button-submit" value="Отправить">
												</p>
											</form>
										</div>
										<!-- <script>
										document.addEventListener("DOMContentLoaded", function() {
											const form = document.querySelector(".login form");
										
											form.addEventListener("submit", function(event) {
												event.preventDefault(); // Предотвращаем обычную отправку формы
										
												const formData = new FormData(this);
												
												fetch('/path/to/your/forgot_password/endpoint/', {
													method: 'POST',
													body: formData,
													headers: {
														'X-Requested-With': 'XMLHttpRequest',
														'X-CSRFToken': formData.get('csrfmiddlewaretoken')
													}
												})
												.then(response => response.json())
												.then(data => {
													if (data.success) {
														alert(data.message);  // Или используйте модальное окно
														form.reset();  // Очищаем форму
													} else {
														alert(data.message);
													}
												})
												.catch(error => {
													console.error('Ошибка:', error);
													alert("Произошла ошибка при отправке данных.");
												});
											});
										});
										</script> -->
									<style>
									.button-submit {
										background-color: #c09578;
										color: white;
										padding: 10px 20px; 
										border: none; 
										cursor: pointer; 
										font-size: 10px;
										font-weight: bold; 
										border-radius: 100px;
										text-transform: uppercase;
										display: inline-block;
										text-align: center;
									}
									
									.button-submit:hover {
										background-color: #c09578; 
									}
									
									</style>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'include/footer.html' %}
	{% include 'include/mobile_footer.html' %}
{% endblock %}