<style>
    .main-content-login {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }

    .content-area {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .login-item {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .login-item h5 {
        text-align: center;
        margin-bottom: 20px;
    }

    .register .input-text {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .register .button-submit {
        width: 100%;
        padding: 10px;
        background-color: #c09578;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .register .button-submit:hover {
        background-color: #b5846a;
    }

</style>
{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    {% include 'include/header.html' %}
    {% include 'include/mobile_header.html' %}
    <div class="main-content main-content-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-trail breadcrumbs">
                        <ul class="trail-items breadcrumb">
                            <li class="trail-item trail-begin">
                                <a href="{% url 'index' %}">Главная страница</a>
                            </li>
                            <li class="trail-item trail-end active">
                                Регистрация
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="content-area col-lg-6 col-md-8 col-sm-12 col-xs-12">
                    <div class="site-main">
                        <h3 class="custom_blog_title">Регистрация</h3>
                        <div class="login-item">
                            <h5 class="title-login">Зарегистрироваться</h5>
                            <form id="registrationForm" class="register" method="POST" action="">
                                {% csrf_token %}
                                <p class="form-row form-row-wide">
                                    <label class="text">Имя пользователя</label>
                                    <input id="username" title="username" name="username" type="text" class="input-text">
                                    {% if errors.username %}
                                        <div id="usernameError" style="color: red;">{{ errors.username }}</div>
                                    {% endif %}
                                </p>
                                <p class="form-row form-row-wide">
                                    <label class="text">Почта</label>
                                    <input id="email" title="email" name="email" type="email" class="input-text">
                                    {% if email and errors.email %}
                                        <div id="emailError" style="color: red;">{{ errors.email }}</div>
                                    {% endif %}
                                </p>
                                <p class="form-row form-row-wide">
                                    <label class="text">Пароль</label>
                                    <div class="password-container">
                                        <input id="password" title="password" name="password" type="password" class="input-text">
                                        <button type="button" class="toggle-password" onclick="togglePassword('password')">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                    {% if errors.password %}
                                        <div id="passwordMismatchError" style="color: red;">{{ errors.password }}</div>
                                    {% endif %}
                                </p>
                                <p class="form-row form-row-wide">
                                    <label class="text">Повторите пароль</label>
                                    <div class="password-container">
                                        <input id="confirm_password" title="confirm_password" name="confirm_password" type="password" class="input-text">
                                        <button type="button" class="toggle-password" onclick="togglePassword('confirm_password')">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </p>
                                <div id="passwordError" style="display: none; color: red;">Пароль должен содержать не менее 8 символов и совпадать.</div>
                                <script>
                                    function togglePassword(fieldId) {
                                        var field = document.getElementById(fieldId);
                                        var icon = field.nextElementSibling.querySelector('i');
                                        if (field.type === "password") {
                                            field.type = "text";
                                            icon.classList.remove('fa-eye');
                                            icon.classList.add('fa-eye-slash');
                                        } else {
                                            field.type = "password";
                                            icon.classList.remove('fa-eye-slash');
                                            icon.classList.add('fa-eye');
                                        }
                                    }
                        
                                    document.getElementById('registrationForm').addEventListener('submit', function(event) {
                                        var password = document.getElementById('password').value;
                                        var confirmPassword = document.getElementById('confirm_password').value;
                                        var error = document.getElementById('passwordError');
                        
                                        if (password.length < 8 || password !== confirmPassword) {
                                            error.style.display = 'inline';
                                            event.preventDefault(); // предотвратить отправку формы
                                        } else {
                                            error.style.display = 'none';
                                        }
                                    });
                        
                                    // Удаление ошибок при вводе данных
                                    document.getElementById('username').addEventListener('input', function() {
                                        var usernameError = document.getElementById('usernameError');
                                        if (usernameError) {
                                            usernameError.style.display = 'none';
                                        }
                                    });
                        
                                    document.getElementById('email').addEventListener('input', function() {
                                        var emailError = document.getElementById('emailError');
                                        if (emailError) {
                                            emailError.style.display = 'none';
                                        }
                                    });
                        
                                    document.getElementById('password').addEventListener('input', function() {
                                        var passwordMismatchError = document.getElementById('passwordMismatchError');
                                        if (passwordMismatchError) {
                                            passwordMismatchError.style.display = 'none';
                                        }
                                    });
                        
                                    document.getElementById('confirm_password').addEventListener('input', function() {
                                        var passwordMismatchError = document.getElementById('passwordMismatchError');
                                        if (passwordMismatchError) {
                                            passwordMismatchError.style.display = 'none';
                                        }
                                    });
                                </script>
                                <p class="form-row">
                                    <a href="{% url 'user_login' %}" class="label-text">Уже есть аккаунт?</a>
                                </p>
                                <p>
                                    <input type="submit" name="register_button" class="button-submit" value="Зарегистрироваться">
                                </p>
                            </form>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            
            <style>
                .password-container {
                    position: relative;
                    display: flex;
                    align-items: center;
                }
                .input-text {
                    flex: 1;
                    padding-right: 2.5em; /* Увеличиваем пространство для кнопки */
                }
                .toggle-password {
                    position: absolute;
                    right: 0.5em;
                    border: none;
                    background: none;
                    cursor: pointer;
                    color: #c09578; /* Используйте основной цвет сайта */
                    font-size: 1.2em;
                    padding: 0;
                }
                .toggle-password:hover {
                    color: #c09578; /* Цвет при наведении */
                }
            </style>
            
            <!-- Подключение Font Awesome, если оно ещё не подключено -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
            
            
            
            
        </div>
    </div>
    {% include 'include/footer.html' %}
    {% include 'include/mobile_footer.html' %}
{% endblock %}

